{
{% if log_driver != 'default' %}
  "log-driver": "{{ log_driver }}"
{% endif %}
{% if log_driver == 'loki' %}
  ,"log-opts": {
    "loki-url": "{{ promtail_client_url }}/loki/api/v1/push",
    "max-size": "10m",
    "max-file": "1"
  }
{% endif %}
}
